<!DOCTYPE html>
<html>
  <head>
    <title>Weeat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('weeat_fav.png'), :rel => 'icon', :type =>  'image/png' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
